<h1>
  <%= @task.title %>
</h1>

<p>
  <%= @task.completed ? "Done" : "Not Done" %>
</p>

<p>
  <%= @task.details %>
</p>

<p>
  <%= link_to "Edit Task", edit_task_path %>
</p>

<p>
  <%= link_to "Home", tasks_path %>
</p>


